@keyframes rotation {
    from {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

.rotation {
  -webkit-animation: rotation 20s linear infinite;
  animation: rotation 20s linear infinite;
}