.khan__buy-link {
  text-decoration: none;
  color: #2f80ed;
  -webkit-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__buy-link:hover {
  opacity: .5;
}